 <div class="center-block">
  <p>Total to buy: </p><span class="totalitems">{{totalItems.get()}}</span>

  <ul class='list-group grocerylist'>
    <li ng-repeat="grocery in groceries" ng-model="groceries" ng-class='{buying: buying == grocery}' class='list-group-item grocery-item' ng-click="toggleBuy(grocery, $event)  ">
      <span class='key-name'>{{grocery.key('name')}}</span>
      <span class='badge property-toBuy'>{{grocery.get('toBuy').get()}}</span>
      <form role=form class='form-inline buy' ng-submit="boughtGrocery(grocery, count)">
        <div class='form-group'>
          <div class=input-group>
            <input type='number' grocery-focus="grocery == buying" grocery-blur="stopBuying(grocery)" ng-model="count" class='form-control' placeholder='Amount Bought'>
          </div>
        </div>
        <div class=form-group>
          <input type='submit' class='form-control btn' id='boughtgrocerysubmit' value='OK' >
        </div>
      </form>
    </li>
  </ul>

  <form id="newgroceryform" role="form" ng-submit="addGrocery(name, quantity)" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="newgroceryname">Grocery name</label>
      <input type="text" ng-model="name" id="newgroceryname" placeholder="Enter Grocery" class="form-control">
    </div>
    <div class="form-group">
      <label class="sr-only" for="newgrocerytobuy">Grocery quantity</label>
      <input type="text" ng-model="quantity" id="newgrocerytobuy" placeholder="Enter Quantity" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary form-control">Add Grocery</button>
    </div>
  </form>

</div>