
<div class="row">
  <div class="col-sm-3">
    <form role=form class='form-inline' ng-submit="createGroup(newGroupName)">
      <div class="form-group">
        <label class="sr-only" for="newgroupname">Group name</label>
        <input type="text" id="newgroupname" ng-model="newGroupName" placeHolder="Group Name" class="form-control">
      </div>
      <div class="form-group"> 
        <input type="submit" class="btn btn-primary btn-large form-control" value="Create Group">
      </div>
    </form>
  </div>

  <div class="col-sm-3">
    <form role=form class='form-inline' ng-submit="joinGroup(token)">
      <div class="form-group">
        <label class="sr-only" for="joingrouptoken">Group name</label>
        <input type="text" id="joingrouptoken" ng-model="token" placeHolder="Token" class="form-control">
      </div>
      <div class="form-group"> 
        <input type="submit" class="btn btn-primary btn-large form-control" value="Join Group">
      </div>
    </form>
  </div>

</div>


<div class="row">
  <div class="col-md-6" ng-repeat="group in groups" ng-controller="GroceryCtrl">

    <h3> {{group.get('name').get()}} <small> {{group.get('token').get()}} </small></h3>

    <ul class='list-group grocerylist'>
      <li ng-repeat="grocery in groceries" ng-model="groceries" ng-class='{buying: buying == grocery}' class='list-group-item grocery-item' ng-click="toggleBuy(grocery, $event)  ">
        <span class='key-name'>{{grocery.key('name')}}</span>
        <span class='badge property-toBuy'>{{grocery.get('toBuy').get()}}</span>
        <form role=form class='form-inline buy' ng-submit="boughtGrocery(grocery, count)">
          <div class='form-group'>
            <div class=input-group>
              <input type='number' grocery-focus="grocery == buying" grocery-blur="stopBuying(grocery)" ng-model="count" class='form-control' placeholder='Amount Bought'>
            </div>
          </div>
          <div class=form-group>
            <input type='submit' class='form-control btn' id='boughtgrocerysubmit' value='OK' >
          </div>
        </form>
      </li>
    </ul>

    <form id="newgroceryform" role="form" ng-submit="addGrocery(name, quantity)" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="newgroceryname">Grocery name</label>
        <input type="text" ng-model="name" id="newgroceryname" placeholder="Enter Grocery" class="form-control">
      </div>
      <div class="form-group">
        <label class="sr-only" for="newgrocerytobuy">Grocery quantity</label>
        <input type="text" ng-model="quantity" id="newgrocerytobuy" placeholder="Enter Quantity" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Add Grocery</button>
      </div>
    </form>
  </div>
</div>
